<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
        layout:decorate="layout/main.html">
<div layout:fragment="content">
    <form action="/request/add" method="post">
        <div class="mb-3">
            <label for="userName" class="form-label">ФИО:</label>
            <input type="text" name="userName" class="form-control" id="userName" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="courseName" class="form-label">Курс:</label>
            <input type="text" name="courseName" class="form-control" id="courseName">
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Телефон:</label>
            <input type="text" name="phone" class="form-control" id="phoneNumber">
        </div>
        <div class="mb-3">
            <label for="comment" class="form-label">Комментарии:</label>
            <textarea name="commentary" class="form-control" id="comment"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</html>