<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout/main.html">
<div layout:fragment="content">
    <form action="/category/edit" method="post">
        <div class="mb-3">
            <input type="hidden" th:value="${category.id}" name="id">
            <label for="categoryNameField" class="form-label">Category's Name:</label>
            <input type="text" name="name" class="form-control" id="categoryNameField" th:value="${category.name}">
        </div>
        <buttin class="btn btn-primary" type="submit">UPDATE</buttin>
    </form>
    <form action="/category/delete">
        <input type="hidden" th:value="${category.id}" name="id">
        <button class="btn btn-danger" type="submit">DELETE</button>
    </form>
</div>
</html>