<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout/main.html">
<div layout:fragment="content">
    <div class="card mb-4">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title" th:text="'FOLDER: '+${papka.name}"></h5>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <!-- Button category delete modal -->
                <div th:each="category : ${papka.getTaskCategories()}">
                    <button th:text="${category.name} + ' x'" type="button" class="btn btn-outline-primary"
                            data-bs-toggle="modal" th:data-bs-target="${'#deleteCategoryModal'+category.id}">
                    </button>

                    <!-- Modal category delete -->
                    <form action="/delete/category/fromFolder" method="post">
                        <div class="modal fade" th:id="${'deleteCategoryModal'+category.id}" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteCategoryModalLabel">Remove Category</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Вы точно хотите удалить категорию <b th:text="${category.name}"></b>?</p>
                                        <input type="hidden" name="folderId" th:value="${papka.id}">
                                        <input type="hidden" name="taskCategoryId" th:value="${category.id}">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-danger">REMOVE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Button for add category modal -->
                <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                    + ADD CATEGORY TO FOLDER
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Assign Category to Folder</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/add/category/toFolder" method="post" class="modal-body">
                    <label class="form-label">Category's Name:</label>
                    <input type="hidden" name="folderId" th:value="${papka.id}">
                    <select name="taskCategoryId" class="form-select">
                        <option th:each="kategoriya : ${kategorii}" th:text="${kategoriya.name}"
                                th:value="${kategoriya.id}"></option>
                    </select>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Category</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Button for add task modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addTaskModal">
        + ADD TASK
    </button>

    <!-- Modal add new task to folder-->
    <div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addTaskModalLabel">Create New Task to Folder</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="modal-body" action="/add/task/toFolder" method="post">
                    <input type="hidden" name="folder.id" th:value="${papka.id}">
                    <div class="mb-3">
                        <label for="taskNameField" class="form-label">Task's Title:</label>
                        <input type="text" name="title" class="form-control" id="taskNameField">
                    </div>
                    <div class="mb-3">
                        <label for="taskDescriptionField" class="form-label">Description:</label>
                        <textarea type="text" name="description" class="form-control"
                                  id="taskDescriptionField"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">ADD TASK</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <th>ID</th>
        <th>TASK NAME</th>
        <th>STATUS</th>
        <th>DETAILS</th>
        </thead>
        <tbody>
        <tr th:each="task : ${zadachi}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.title}"></td>
            <td th:class="${task.status == 0 ? 'text-primary' : (task.status == 1 ? 'text-warning' : (task.status == 2 ? 'text-success' : 'text-danger'))}"
                th:text="${task.status == 0 ? 'TO DO' : (task.status == 1 ? 'IN TEST' : (task.status == 2 ? 'DONE' : 'FAILED'))}"></td>
            <td><a th:href="@{'/task/details/' + ${task.id}}" class="btn btn-primary">View More</a></td>
        </tr>
        </tbody>
    </table>


    <form action="/folder/delete" method="post">
        <input type="hidden" th:value="${papka.id}" name="id">
        <button class="btn btn-danger">DELETE FOLDER</button>
    </form>
</div>


</html>