<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout/main.html">
<div layout:fragment="content">
    <form action="/edit/task" method="post">
        <input type="hidden" th:value="${zadacha.id}" name="id">
        <input type="hidden" th:value="${zadacha.folder.id}" name="folder.id">
        <div class="mb-3">
            <label for="taskNameField" class="form-label">Task's Title:</label>
            <input name="title" class="form-control" id="taskNameField" type="text" th:value="${zadacha.title}"
                   readonly>
        </div>
        <div class="mb-3">
            <label for="taskDescriptionField" class="form-label">Description:</label>
            <textarea name="description" class="form-control" id="taskDescriptionField" th:text="${zadacha.description}"
                      readonly></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Status:</label>
            <select name="status" class="form-select"
                    th:readonly="${zadacha.status==2 || zadacha.status==3 ? 'true' : 'false'}">
                <option th:value="${0}" th:selected="${zadacha.status==0}">TO DO</option>
                <option th:value="${1}" th:selected="${zadacha.status==1}">IN TEST</option>
                <option th:value="${2}" th:selected="${zadacha.status==2}">DONE</option>
                <option th:value="${3}" th:selected="${zadacha.status==3}">FAILED</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit"
                th:hidden="${zadacha.status==2 || zadacha.status==3 ? 'true' : 'false'}">Save Changes
        </button>
    </form>
    <form action="/delete/task/fromFolder" method="post">
        <input type="hidden" th:value="${zadacha.id}" name="id">
        <button class="btn btn-danger" th:hidden="${zadacha.status==2 || zadacha.status==3 ? 'true' : 'false'}">DELETE
            TASK
        </button>
    </form>

    <hr>
    <div class="mb-3" th:hidden="${zadacha.status==2 || zadacha.status==3 ? 'true' : 'false'}">
        <form action="/add/comment/toTask" method="post">
            <input type="hidden" name="task.id" th:value="${zadacha.id}">
            <label for="commentTextarea" class="form-label">Your comment:</label>
            <textarea th:name="value" class="form-control mb-1" id="commentTextarea" rows="3"
                      placeholder="Write a comment..."></textarea>

            <button class="btn btn-primary btn-sm" type="submit">ADD COMMENT</button>
        </form>
        <hr>
    </div>


    <h5>Comments:</h5>
    <div class="card mb-2" th:each="comment : ${komenty}">
        <h5 class="card-header"></h5>
        <div class="card-body">
            <h6 class="card-title">Unknown user</h6>
            <p class="card-text" th:text="${comment.value}" name="value"></p>
            <form action="/delete/comment/fromTask" method="post">
                <input type="hidden" th:value="${zadacha.id}" name="taskId">
                <input type="hidden" th:value="${comment.id}" name="commentId">
                <button type="submit" class="btn btn-danger btn-sm"
                        th:hidden="${zadacha.status==2 || zadacha.status==3 ? 'true' : 'false'}">DELETE COMMENT
                </button>
            </form>

        </div>
    </div>

</div>
</html>